<table
  *ngIf="dataSource.length; else noFound"
  mat-table
  [dataSource]="dataSource"
  class="contributor__table mat-elevation-z8"
>
  <ng-container matColumnDef="avatar">
    <th mat-header-cell *matHeaderCellDef>Avatar</th>
    <td mat-cell *matCellDef="let element">
      <img class="contributor__image" [src]="element.avatar_url" alt="Avatar" />
    </td>
  </ng-container>

  <ng-container matColumnDef="login">
    <th mat-header-cell *matHeaderCellDef>Login</th>
    <td mat-cell *matCellDef="let element">{{ element.login }}</td>
  </ng-container>

  <ng-container matColumnDef="github">
    <th mat-header-cell *matHeaderCellDef>GitHub</th>
    <td mat-cell *matCellDef="let element">
      <a class="contributor__icon" [href]="element.html_url" title="GitHub account" target="_blank"
        ><app-github-icon></app-github-icon
      ></a>
    </td>
  </ng-container>

  <ng-container matColumnDef="contributions">
    <th mat-header-cell *matHeaderCellDef>Contributions</th>
    <td mat-cell *matCellDef="let element">
      <p>{{ element.contributions }}</p>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element" class="contributor__actions">
      <a [disabled]="element.is_favorite" mat-button color="primary" title="Add to favorites" (click)="add(element)"
        >Add to favorites</a
      >
      <a *ngIf="element.is_favorite" mat-button color="warn" title="Remove from favorites" (click)="remove(element)"
        >Remove from favorites</a
      >
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<ng-template #noFound><h1 class="error-message">Contributors not found</h1></ng-template>
