.item {
  max-width: 200px;
  width: 200px;
  padding: 1em;
  margin: 1em;

  &__link {
    color: #252525;
    text-decoration: none;
  }

  &__title {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    -ms-word-break: break-all;
  }
}
