:host {
  box-shadow: 0 4px 10px -5px #0006;
  background-color: #222;
}

.spacer {
  flex: 1 1 auto;
}

.link {
  color: #fff;
  text-decoration: none;

  &:hover {
    color: #ffffffc9;
  }
}

.favorite-wrapper {
  padding-top: 10px;
}
