.search-wrapper {
  display: flex;
  align-items: center;
  font-size: medium;
}

.search-slider {
  margin-right: 1em;
  font-weight: normal;
}

.search-field {
  width: 300px;
  margin-top: 20px;
}
